.App {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    background-color: white;
}

#App-header {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
    overflow: auto;
}

img{
    width: 100%;
}

#App-header div{
    width: 10vw;
    min-width: 50px;
    max-width: 70px;
}

#App-header h1 {
    font-size: clamp(1em, 5vw, 2em);
}

#pet {
    width: 30vw;
    min-width: 100px;
    max-width: 250px;
}

#App-tracker {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    overflow: auto;
    box-sizing: border-box;
}

#at-box{
    background-color: white;
    border-radius: 1vw;
    padding: clamp(5px, 1.5vw, 10px);
    display: flex;
    flex-direction:column;
    width: 30vw;
    height: fit-content;
    box-sizing: border-box;
    gap: 0.5rem;
}

.Task{
    background-color: #c7c7c7;
    border-radius: 1vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Task article{
    box-sizing: border-box;
    padding: clamp(5px, 1.5vw, 10px);
    width: 70%;
    cursor: pointer;
}

.Task .task-check{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 1vw 1vw 0;
    width: 30%;
    border: none;
    background-color: aquamarine;
}

.Task input[type="checkbox"]{
    cursor: pointer;
    border-radius: 100%;
    background-color: #fff;
    appearance: none;
    margin: 0;
    width: 4vw;
    height: 4vw;
    display: grid;
    place-content: center;
}

.Task input[type="checkbox"]::before {
    width: 2vw;
    height: 2vw;
    content: "";
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 3vw 3vw #06c200;
    transform-origin: center;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  }

.Task input[type="checkbox"]:checked::before {
    transform: scale(1);
  }

.at-button{
    font: inherit;
    border: none;
    border-radius: 1vw;
    cursor: grab;
    background-color: #ff5e5e;
}

.at-button:hover{
    background-color: #ff7e7e;
}

.add-item{
    width: 30vw;
    height: fit-content;
}

.info-item{
    display: flex;
    flex-direction: column;
}

.info-item h1{
    font-size: clamp(1em, 2vw, 2em);
    margin: 5%;
}

.info-item #name{
    resize: none;
}